*.phar
*.asc
.buildpath
.DS_Store
.idea
.env
.project
.phpunit.result.cache
.settings
/backup/*
/build/coverage
/build/logs
/build/phar
/build/phar-scoped
/composer.lock
/phpbu.xml
/phpbu.json
/vendor/
cache.properties
