*.phar
*.asc
.buildpath
.DS_Store
.idea
.env
.project
.phpunit.result.cache
.settings
composer.lock
/backup/*
/build/coverage
/build/logs
/build/phar
/build/phar-scoped
/phpbu.xml
/phpbu.json
/vendor/
/tools/
cache.properties
