<?xml version="1.0" encoding="UTF-8"?>
<phpbu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="http://schema.phpbu.de/1.0/phpbu.xsd"
       bootstrap="backup/bootstrap.php"
       verbose="true">

  <php>
    <includePath>.</includePath>
    <ini name="max_execution_time" value="0"/>
  </php>


  <logging>
    <log type="json" target="/tmp/logfile.json"/>
    <log type="plain" target="/tmp/logfile.txt"/>
  </logging>


  <backups>
    <backup stopOnError="true">
      <!-- data to backup -->
      <source type="mysql">
        <option name="databases" value="dbname"/>
        <option name="tables" value=""/>
        <option name="ignoreTables" value=""/>
        <option name="structureOnly" value="dbname.table1,dbname.table2"/>
      </source>

      <!-- where should the backup be stored -->
      <target dirname="/tmp/backup" filename="mysqldump-%Y%m%d-%H%i.sql" compress="bzip2"/>

      <!-- do some sanity checks to make sure everything worked as planned -->
      <check type="Foo" value="Bar"/>
      <check type="Fiz" value="Baz"/>

      <!-- sync backup to some location or service -->
      <sync type="ftp" skipOnCheckFailure="true">
        <option name="user" value="user.name"/>
        <option name="password" value="topsecret"/>
        <option name="target" value="backup"/>
      </sync>

      <!-- deletes old backups -->
      <cleanup type="age" skipOnCheckFailure="true" skipOnSyncFailure="true">
        <option name="lifetime" value="1m"/>
      </cleanup>
    </backup>
  </backups>
</phpbu>