parameters:
  level: 3
  paths:
  - %currentWorkingDirectory%/src/
  ignoreErrors:
      - '#Call to an undefined method SebastianFeldmann\\Ftp\\Client::delete\(\)#'
      - '#Call to an undefined method ObjectStorage_Abstract::setLocalFile\(\)#'
