name: "Integration"

on:
  push:
    branches:
      - "*"
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        php: ['8.0', '8.1', '8.2', '8.3']
    steps:
    - uses: actions/checkout@master

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: composer:v2, phive
        extensions: mbstring

    - name: PHP Version
      run: php -v

    - name : Install tooling
      run : GITHUB_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }} phive --no-progress --home ./.phive install --force-accept-unsigned --trust-gpg-keys 661E97400F658E25,5E6DDE998AB73B8E,51C67305FFC2E5C0,4AA394086372C20A,31C7E470E2138192,8E730BA25823D8B5,CF1A108D0E7AE720,2DF45277AEF09A2F,2A8299CE842DD38C,A978220305CD5C32

    - name: Update composer
      run: composer self-update

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest ${{ matrix.composeroptions }}

    - name: Execute unit tests
      run: tools/phpunit --configuration=phpunit.xml

    - name: Check coding style
      run: tools/phpcs --standard=psr2 src

    - name: Static code analysis
      run: tools/phpstan analyse
